/* Commercial Break Transition - VHS Static & Color Bars */
.commercial-break-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
  pointer-events: none;
  animation: transitionFadeInOut 0.8s ease-in-out;
}

/* Static Transition */
.commercial-static {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><defs><filter id="commercial-noise"><feTurbulence baseFrequency="0.98" numOctaves="8" stitchTiles="stitch"/><feColorMatrix type="saturate" values="0"/></filter></defs><rect width="100%" height="100%" filter="url(%23commercial-noise)" opacity="0.95"/></svg>'),
    repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1) 0px,
      rgba(0, 0, 0, 0.2) 1px,
      rgba(255, 255, 255, 0.05) 2px,
      rgba(0, 0, 0, 0.15) 3px
    );
  animation: staticIntensity 0.05s infinite;
}

.commercial-noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    repeating-linear-gradient(
      90deg,
      transparent 0px,
      rgba(255, 255, 255, 0.03) 1px,
      transparent 2px,
      rgba(0, 0, 0, 0.04) 3px,
      transparent 4px
    );
  animation: noiseFlicker 0.1s infinite;
}

/* Color Bars Transition (SMPTE Test Pattern) */
.commercial-colorbars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.colorbar {
  flex: 1;
  height: 100%;
  animation: colorbarGlitch 0.3s ease-in-out;
}

.colorbar-white {
  background: #ffffff;
}

.colorbar-yellow {
  background: #ffff00;
}

.colorbar-cyan {
  background: #00ffff;
}

.colorbar-green {
  background: #00ff00;
}

.colorbar-magenta {
  background: #ff00ff;
}

.colorbar-red {
  background: #ff0000;
}

.colorbar-blue {
  background: #0000ff;
}

.colorbar-black {
  background: #000000;
}

/* Animations */
@keyframes transitionFadeInOut {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes staticIntensity {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  25% {
    opacity: 0.8;
    transform: translate(-1px, 1px);
  }
  50% {
    opacity: 0.95;
    transform: translate(1px, -1px);
  }
  75% {
    opacity: 0.85;
    transform: translate(-1px, -1px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes noiseFlicker {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
}

@keyframes colorbarGlitch {
  0% {
    transform: scaleY(1);
    filter: brightness(1);
  }
  20% {
    transform: scaleY(0.95);
    filter: brightness(1.2);
  }
  40% {
    transform: scaleY(1.05);
    filter: brightness(0.8);
  }
  60% {
    transform: scaleY(0.98);
    filter: brightness(1.1);
  }
  80% {
    transform: scaleY(1.02);
    filter: brightness(0.9);
  }
  100% {
    transform: scaleY(1);
    filter: brightness(1);
  }
}
